#Home {
  margin-top: 24px;
  #ShopByCategory,
  #NewArrival,
  #landScapeCards,
  #exporeMore {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  #exporeMore {
    width: 100%;
    height: 560px;
    position: relative;
    z-index: 0;
    img {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .exploremore-contents {
      padding: 211px;
      height: 100%;
    }
    .offer-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 16px;
      // width: 118px;
      height: 40px;
      background: #ffe923;
      border-radius: 8px;
    }
  }
}
